* {
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}

body {
  line-height: 1.2;
  font-size: 14px;
  font-weight: 400;
  background-color: #f3f3f3;
}

input,
textarea {
  font-weight: 700;
  font-size: 16px;
  color: #303841;
}

input::placeholder,
textarea::placeholder {
  font-weight: 600;
  font-size: 16px;
  color: #acacac;
}

button {
  outline: none;
}

.temptemp {
  background-color: #561d77;
}
